h1 {
	font-family: 'Arial', sans-serif;
	font-size: 70px;
	line-height: 1;
	color: #162a41;
    font-style: normal;
    font-weight: 600;
    margin: 10px 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	font-family: 'Arial', sans-serif;
}

p {
	padding: 10px 20px;
}

html,
body,
main {
	width: 100%;
	height: 100%;
}

.container {
	padding: 5rem;
}

.sticky_parent {
	height: 400vh;
}

.sticky {
	overflow: hidden;
	position: sticky;
	top: 0;
	height: 100vh;
	border: 1px solid red;
}

.scroll_section {
	position: absolute;
	top: 0;
	height: 100%;
	width: 400vw;
	will-change: transform;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
}

img {
	width: auto;
	height: 80%;
	object-fit: cover;
}